<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/pharmacist-patient-search">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="" routerLink="/schedule-leave-pharmacist">Schedule leave</a></li>
            <li><a href="" routerLink="/pharmacist">Schedule appointment</a></li>
            <li><a href="" routerLink="/pharmacist-profile">Profile</a></li>
            <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <div class="profilediv">
        <div class="sidemenu">
            <a href="" routerLink="/pharmacist-profile">Personal data</a>
            <a href="" routerLink="/pharmacist-password-change">Change password</a>
            <a href="" routerLink="/pharmacist-work-cal">Work calendar</a>
        </div>
        <div class="userinfo">
          <mat-label>Choose time period filter</mat-label><br>
          <button (click)="FillConsultations(7)">Weekly</button>
          <button (click)="FillConsultations(30)">Monthly</button>
          <button (click)="FillConsultations(365)">Yearly</button>
          <div class="founddiv">
            <table id="myTable">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Duration</th>
                </tr>
                <tbody id="tableinfo">
                    <tr *ngFor="let c of entries">
                        <td>{{c.patient.name}}</td>
                        <td>{{c.patient.surname}}</td>
                        <td>{{c.dateRange.startDateTime[0]}}.{{c.dateRange.startDateTime[1]}}.{{c.dateRange.startDateTime[2]}}</td>
                        <td>{{c.dateRange.startDateTime[3]}}:{{c.dateRange.startDateTime[4]}}0</td>
                        <td>30</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        </div>
    </div>
  </body>
  