<header>
  <div class="header">
    <a routerLink="/" class="logo">Pharmacy name placeholder</a>
    <nav>
      <ul>
        <button mat-icon-button routerLink="/pharmacies">
          <li>Pharmacies</li>
        </button>
        <button mat-icon-button routerLink="/medicines">
          <li>Medicines</li>
        </button>
        <button mat-icon-button routerLink="/register">
          <li>Registration</li>
        </button>
        <button mat-icon-button routerLink="/login">
          <li>Login</li>
        </button>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>