<header>
    <div class="header">
      <a routerLink="/" class="logo">Pharmacy name placeholder</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/pharmacies">Pharmacies</a></li>
          <li><a href="#" routerLink="/medicines">Medicines</a></li>
          <li><a href="#" routerLink="/register">Registration</a></li>
          <li><a href="#" routerLink="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>

<div class="container">
    <router-outlet></router-outlet>
</div>