mat-form-field {
    margin: 0px 5px 0px 5px;
    width: 48%;
}

mat-hint {
    color: red !important;
}

form {
    justify-self: center;
}

agm-map {
    height: 350px;
}

button {
    margin: 10px;
}

.profileBox{
    align-items: center;
    width: 50%;
    margin: 1em auto; 
    padding:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
}