<header>
    <div class="header">
      <a routerLink="/dermatologist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/dermatologist-patient-search">Patient list</a></li>
         <li><a href="" routerLink="/dermatologist-appointments">Start appointment</a></li>
         <li><a href="" routerLink="/dermatologist-work-cal">Work calendar</a></li>
         <li><a href="">Schedule leave</a></li>
         <li><a href="">Schedule appointment</a></li>
         <li><a href="" routerLink="/dermatologist-profile">Profile</a></li>
         <li id="log"><a href="">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>