<header>
    <div class="header">
      <a routerLink="/dermatologist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/dermatologist-patient-search">Patient list</a></li>
         <li><a href="" routerLink="/dermatologist-appointments">Start appointment</a></li>
         <li><a href="" routerLink="/dermatologist-work-cal">Work calendar</a></li>
         <li><a href="" routerLink="/schedule-leave">Schedule leave</a></li>
         <li><a href="" routerLink="/dermatologist-scheduler">Schedule appointment</a></li>
         <li><a href="" routerLink="/dermatologist-profile">Profile</a></li>
         <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <div class="profilediv">
        <div class="sidemenu">
            <a href="" routerLink="/dermatologist-profile">Personal data</a>
            <a href="" routerLink="/employee-password-change">Password change</a>
            <a href="" routerLink="/dermatologist-work-cal">Work calendar</a>
        </div>
        <div class="userinfo" *ngIf="loaded" >
          <button (click)="Toggle()" id="toggle">Edit</button><br>
          <form [formGroup]="myForm" autocomplete="off">
            <mat-label>Users e-mail</mat-label>
            <mat-divider></mat-divider>
            <input placeholder="Email" formControlName="email"><br>
            <mat-label>Users first name</mat-label>
            <mat-divider></mat-divider>
            <input placeholder="Name" formControlName="name"><br>
            <mat-label>Users surname</mat-label>
            <mat-divider></mat-divider>
            <input placeholder="Surname" formControlName="surname"><br>
            <mat-label>Users UIDN(Not changable)</mat-label>
            <mat-divider></mat-divider>
            <textarea readonly placeholder="Uidn" formControlName="uidn"></textarea><br>
            <button [disabled]="!myForm.valid" (click)="SaveChanges()">Save changes</button>
        </form>
      </div>
    </div>
  </body>