<header>
    <div class="header">
      <a routerLink="/dermatologist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/dermatologist-patient-search">Patient list</a></li>
         <li><a href="" routerLink="/dermatologist-appointments">Start appointment</a></li>
         <li><a href="" routerLink="/dermatologist-work-cal">Work calendar</a></li>
         <li><a href="" routerLink="/dermatologist">Schedule leave</a></li>
         <li><a href="" routerLink="/dermatologist">Schedule appointment</a></li>
         <li><a href="" routerLink="/dermatologist-profile">Profile</a></li>
         <li id="log"><a href="" routerLink="/login">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <div class="profilediv">
        <div class="sidemenu">
            <a href="" routerLink="/dermatologist-profile">Lični podaci</a>
            <a href="" routerLink="/employee-password-change">Promena lozinke</a>
            <a href="" routerLink="/dermatologist-work-cal">Radni kalendar</a>
        </div>
        <div class="userinfo" *ngIf="loaded" >
          <button (click)="Toggle()" id="toggle">Edit</button><br>
          <form [formGroup]="myForm" autocomplete="off">
            <label>Users e-mail</label>
            <input placeholder="Email" formControlName="email"><br>
            <label>Users first name</label>
            <input placeholder="Name" formControlName="name"><br>
            <label>Users surname</label>
            <input placeholder="Surname" formControlName="surname"><br>
            <label>Users UIDN(Not changable)</label>
            <textarea readonly placeholder="Uidn" formControlName="uidn"></textarea><br>
            <button [disabled]="!myForm.valid" (click)="SaveChanges()">Save changes</button>
        </form>
      </div>
    </div>
  </body>