<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/pharmacist-patient-search">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="">Schedule leave</a></li>
            <li><a href="">Schedule appointment</a></li>
            <li><a href="" routerLink="/pharmacist-profile">Profile</a></li>
            <li id="log"><a href="">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="userinfo">
        <input style="width: 100%;" id="myInput" type="text" (keyup.enter)="MyFunction()" placeholder="Search active reservations...">
        <!--ovde ide foreach pacijent sa tim id unesenim ispisati ime prezime... umesto zakucanih podataka.Ovo je placeholder.-->
        <div class="founddiv">
            <table id="myTable">
                <th>Name</th>
                <th>Surname</th>
                <th>ID</th>
                <th></th>
                <tr>
                    <td>Marko</td>
                    <td>Rakic</td>
                    <td>187263</td>
                    <td>
                        <input type="submit" name="" value="Finalize dispensing">
                    </td>
                </tr>
                <tr>
                    <td>Aleksa</td>
                    <td>Popov</td>
                    <td>685112</td>
                    <td>
                        <input type="submit" name="" value="Finalize dispensing">
                    </td>
                </tr>
            </table>
            <!--Ako ne nadje nijedan alert -> nije pronadjena rezervacija-->
        </div>
    </div>
    
    
</div>