<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/pharmacist-patient-search">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="" routerLink="/pharmacist">Schedule leave</a></li>
            <li><a href="" routerLink="/pharmacist">Schedule appointment</a></li>
            <li><a href="" routerLink="/pharmacist-profile">Profile</a></li>
            <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="userinfo">
        <input style="width: 100%;" id="myInput" type="text" #reservation (keyup.enter)="LoadMedicineReservation(reservation.value)" placeholder="Search active reservations here...">
        <div class="founddiv">
            <table id="myTable">
                <th>Code</th>
                <th>Price</th>
                <th></th>
                <tbody>
                <tr *ngFor="let m of patientReservation">
                    <td>{{m.code}}</td>
                    <td>{{m.price}} din.</td>
                    <td>
                        <button (click)="FinalizeReservation(m.code)">Mark as picked-up</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    
    
</div>