<header>
    <div class="header">
      <a routerLink="/dermatologist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/dermatologist-patient-search">Patient list</a></li>
         <li><a href="" routerLink="/dermatologist-appointments">Start appointment</a></li>
         <li><a href="" routerLink="/dermatologist-work-cal">Work calendar</a></li>
         <li><a href="">Schedule leave</a></li>
         <li><a href="">Schedule appointment</a></li>
         <li><a href="" routerLink="/dermatologist-profile">Profile</a></li>
         <li id="log"><a href="">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <div class="profilediv">
        <div class="sidemenu">
            <a href="" routerLink="/dermatologist-profile">Lični podaci</a>
            <a href="" routerLink="/employee-password-change">Promena lozinke</a>
            <a href="" routerLink="/dermatologist-work-cal">Radni kalendar</a>
        </div>
        <div class="userinfo">
          <button (click)="FillExams(7)">Nedeljno</button>
          <button (click)="FillExams(30)">Mesecno</button>
          <button (click)="FillExams(365)">Godisnje</button>
          <div class="founddiv">
            <table id="myTable">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Duration</th>
                    <th>Pharmacy</th>
                </tr>
                <tbody id="tableinfo">
                    <tr *ngFor="let c of entries">
                        <td>{{c.patient.name}}</td>
                        <td>{{c.patient.surname}}</td>
                        <td>{{c.dateRange.startDateTime[0]}}.{{c.dateRange.startDateTime[1]}}.{{c.dateRange.startDateTime[2]}}</td>
                        <td>{{c.dateRange.startDateTime[3]}}:{{c.dateRange.startDateTime[4]}}0</td>
                        <td>30</td>
                        <td>{{c.pharmacy.name}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
  </body>
  
  