.reservationsBox {
    align-items: center;
    width: 50%;
    margin: 1em auto; 
    padding:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
}

.medicine {
    position: relative;
    text-align: left;
}

.medicine > * {
    margin: 10px 10px 10px 10px;
}

mat-divider {
    margin: 5px 0px 5px 0px;
}

.pharmacy {
    position: relative;
    text-align: left;
}

.pharmacy > * {
    margin: 10px 10px 10px 10px;
} 

.medicines {
    position: relative;
    text-align: left;
}

.cancel-button {
    margin: 10px 0 10px 5px;
}