<h1 mat-dialog-title>Schedule Consultation</h1>
<div mat-dialog-content>
    <!--<form [formGroup]="consultationForm">
        
        <mat-form-field>
            <input matInput placeholder="Pharmacy Name" formControlName="pharmacyName">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="ApiKey" formControlName="apiKey">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Endpoint" formControlName="endpoint">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="GrpcPort" formControlName="grpcPort">
        </mat-form-field>
        <br>
    
        <button mat-raised-button [disabled]="myForm.invalid" (click)="AddPharmacy()" >Save</button>
    </form>-->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  
</div>