<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/pharmacist-patient-search" (click)="Reload()">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="">Schedule leave</a></li>
            <li><a href="">Schedule appointment</a></li>
            <li><a href="" routerLink="/pharmacist-profile">Profile</a></li>
            <li id="log"><a href="">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <form [formGroup]="myForm">
  <div class="profilediv">
    <div class="userinfo">
        <table >
        <tr><td >Unesite podatke o pregledu za uidn: {{pat.uidn}}</td><td><textarea name="report" id="area" cols="60" rows="10" formControlName="area" ></textarea></td></tr>
        <tr ><td>Izaberite terapiju</td><td ><mat-form-field >
          <mat-select name="" id="" #mySelect [(value)]="medicineSelect">
            <mat-option *ngFor="let med of medicine" [value]="med.name" >{{med.name}}</mat-option>
        </mat-select></mat-form-field></td>
        <td><button (click)="CallComposition(mySelect.value)">Specifikacija</button></td><td><button>Dostupnost</button></td></tr>
        <tr><td>Zakazite dodatan pregled</td>
          <td><mat-form-field ><mat-select name="" id="" #newTerm [(value)]="newDate">
            <mat-option *ngFor="let term of freeTermins" [value]="term">{{term}}</mat-option>
        </mat-select></mat-form-field></td>
          <td><button (click)="ScheduleAdditionalConsultation()">Dodatan termin</button></td></tr>
        <button (click)="FinalizeDTOPharmacist()">Zavrsi pregled</button>
    </table>
    </div>
</div>
</form>