<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/pharmacist-patient-search">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="" routerLink="/schedule-leave-pharmacist">Schedule leave</a></li>
            <li><a href="" routerLink="/pharmacist">Schedule appointment</a></li>
            <li><a href="" routerLink="/pharmacist-profile">Profile</a></li>
            <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <form [formGroup]="myForm">
  <div class="profilediv">
    <div class="userinfo">
        <table >
        <tr><td ><mat-label>Enter diagnosis for patient UIDN(Free form): {{pat.uidn}}</mat-label></td><td></td><td><textarea name="report" id="area" cols="60" rows="10" formControlName="area" ></textarea></td></tr>
        <tr ><td><mat-label>Pick medicine and quantity for therapy*(mandatory)</mat-label></td><td></td><td ><mat-form-field >
          <mat-select name="" id="" #mySelect [(value)]="medicineSelect">
            <mat-option *ngFor="let med of medicine" [value]="med.name" >{{med.name}}</mat-option>
        </mat-select></mat-form-field></td><td><input type="text" formControlName="quantity" #quantSelect></td><td><button [disabled]="mySelect.empty" (click)="AddMedicine(mySelect.value,quantSelect.value)">Add</button></td>
        <td><button [disabled]="mySelect.empty" (click)="CallComposition(mySelect.value)">Specification</button></td><td><button [disabled]="mySelect.empty" (click)="MedicineAvailability(mySelect.value)">Availability</button></td></tr>
        <mat-divider></mat-divider>
        <tr><td><mat-label>Prescribed medicine:</mat-label></td><td></td><td><p *ngFor="let therapyMed of selectedMed">{{therapyMed}}</p></td></tr>
        <mat-divider></mat-divider>
        <tr><td><mat-label>Schedule additional appointment</mat-label></td><td></td>
          <td><mat-form-field ><mat-select name="" id="" #newTerm [(value)]="newDate">
            <mat-option *ngFor="let term of freeTermins" [value]="term">{{term}}</mat-option>
        </mat-select></mat-form-field></td>
          <td><button [disabled]="newTerm.empty" (click)="ScheduleAdditionalConsultation()">Add additional termin</button></td></tr>
          <td></td><td></td><button [disabled]="mySelect.empty" (click)="FinalizeDTOPharmacist(selectedMed)">Finalize appointment</button>
    </table>
    </div>
</div>
</form>