<header>
    <div class="header">
      <a routerLink="/dermatologist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/dermatologist-patient-search">Patient list</a></li>
         <li><a href="" routerLink="/dermatologist-appointments">Start appointment</a></li>
         <li><a href="" routerLink="/dermatologist-work-cal">Work calendar</a></li>
         <li><a href="" routerLink="/dermatologist">Schedule leave</a></li>
         <li><a href="" routerLink="/dermatologist">Schedule appointment</a></li>
         <li><a href="" routerLink="/dermatologist-profile">Profile</a></li>
         <li id="log"><a href="" routerLink="/login">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="userinfo">
        <div class="founddiv">
            <table id="myTable">
                <tr>
                    <th >Name</th>
                    <th >Surname</th>
                    <th >Uidn</th>
                    <th >Username</th>
                    <th>Exam start time</th>
                    <th></th>
                    <th></th>
                </tr>
                <tbody id="tableinfo">
                    <tr *ngFor="let u of appointments">
                        <td>{{u.patient.name}}</td>
                        <td>{{u.patient.surname}}</td>
                        <td>{{u.patient.uidn}}</td>
                        <td>{{u.patient.email}}</td>
                        <td>{{u.dateRange.startDateTime[0]}}.{{u.dateRange.startDateTime[1]}}.{{u.dateRange.startDateTime[2]}} {{u.dateRange.startDateTime[3]}}:{{u.dateRange.startDateTime[4]}}</td>
                        <td><a href="#" [routerLink]="['/dermatologist-appointment-report',u.id,u.patient.uidn]" >Start appointment</a></td>
                        <td><a href="#" [routerLink]="['/dermatologist-appointments']" (click)="PenalizePatient(u.patient.uidn)">Penalize </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>