<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <li><a href="" routerLink="/pharmacist-patient-search" (click)="Reload()">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="" routerLink="/schedule-leave-pharmacist">Schedule leave</a></li>
            <li><a href="" routerLink="/pharmacist-scheduler">Schedule appointment</a></li>
            <li><a href="" routerLink="/pharmacist-profile">Profile</a></li>
            <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="userinfo">
        <mat-label>List of pharmacists checked patients</mat-label>
        <input style="width: 100%;" id="myInput" type="text" (keyup.enter)="MyFunction()" placeholder="Search patient by name + surname">
        <mat-divider ></mat-divider>
        <div class="founddiv">
            <table id="myTable">
                <tr>
                    <th><button (click)="sortTable(1)">Name</button></th>
                    <th><button (click)="sortTable(2)">Surname</button></th>
                    <th><button (click)="sortTable(3)">Uidn</button></th>
                    <th><button (click)="sortTable(4)">Username</button></th>
                </tr>
                <tbody id="tableinfo">
                    <tr *ngFor="let u of users">
                        <td>{{u.name}}</td>
                        <td>{{u.surname}}</td>
                        <td>{{u.uidn}}</td>
                        <td>{{u.username}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>