<div class="passwordBox">
    <h1><b>Change password</b></h1>
    <mat-divider></mat-divider>
    <form [formGroup]="myForm" autocomplete="off">
        <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-hint *ngIf="myForm.controls['password'].hasError('minlength')">Must contain at least 8 characters!
            </mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Re-enter new password</mat-label>
            <input matInput type="password" formControlName="passwordControl">
            <mat-hint *ngIf="myForm.controls['passwordControl'].hasError('minlength')">Must contain at least 8
                characters!</mat-hint>
            <mat-hint *ngIf="myForm.controls['passwordControl'].hasError('NoPassswordMatch')">Passwords do not match!
            </mat-hint>
        </mat-form-field>
        <br>
        <button mat-raised-button [disabled]="myForm.invalid" (click)="ChangePassword()">Change</button>
    </form>
</div>