<div class="complaintBox">
    <h1><b>Employee complaint</b></h1>
    <mat-divider></mat-divider>
    <form [formGroup]="myForm" autocomplete="off">
        <mat-form-field>
            <mat-label>Employee</mat-label>
            <mat-select formControlName="employee">
                <mat-option *ngFor="let employee of employees" [value]="employee">
                    <p>{{employee.name}} {{employee.surname}}, {{employee.email}}</p>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Complaint text</mat-label>
            <textarea formControlName="text" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <button mat-raised-button [disabled]="myForm.invalid" (click)="Send()">Send</button>
    </form>
</div>