.medicinesBox {
    align-items: center;
    width: 50%;
    margin: 1em auto; 
    padding:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
}

.medicine {
    position: relative;
    text-align: left;
}

.search {
    position: relative;
    margin: 5px 0px 5px 0px;
    border: 0;
}

.search > button {
    margin: 0 0 0 15px;
}

.medicine > * {
    margin: 10px 10px 10px 10px;
}

mat-divider {
    margin: 5px 0px 5px 0px;
}

.pharmacies {
    width: 100%;
}

mat-option {
    min-height: 80px !important;
}

h1 {
    margin: 10px 0 0 0;
}

.medicines {
    position: relative;
    text-align: left;
}

.reservation-button {
    margin: 10px 0 10px 5px;
}


ngb-rating {
    outline: none;
}