<h2 mat-dialog-title>New Inventory Item</h2>
<div class="dialog" mat-dialog-content>
    <form>
        <mat-form-field  >
            <mat-select [(value)]="medID" placeholder="Medicine"  #selectedMedicine>
                <mat-option *ngFor="let m of medicines" [value]="m.id">
                {{m.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input type="number" matInput [formControl]="quantityFormControl" placeholder="Quantity">
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions >
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button  [disabled]="quantityFormControl.hasError('required')" (click)="AddItem()" > Add item</button>
  </div>
