<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <li><a href="" routerLink="/pharmacist-patient-search">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="" routerLink="/schedule-leave-pharmacist">Schedule leave</a></li>
            <li><a href="" routerLink="/pharmacist-scheduler">Schedule appointment</a></li>
            <li><a href="" routerLink="/pharmacist-profile">Profile</a></li>
            <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="userinfo">
        <mat-label >Please enter your wanted leave date period:</mat-label>
        <mat-divider></mat-divider>
         <mat-form-field appearance="fill">
            <mat-label>Enter date range</mat-label>
                <mat-date-range-input [formGroup]="range" #inputt [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-divider></mat-divider>
        <button [disabled]="!range.valid" (click)="PlaceRequest(inputt.value)">Place leave request</button>
  </div>
  </div>