<header>
  <div class="header">
  <a routerLink="/" class="logo">Pharmacy</a>
  <nav>
    <ul>
      <li><a href="#" routerLink="/pharmacist-list">All pharmacists</a></li>
      <li><a href="#" routerLink="/dermatologist-list">All dermatologists</a></li>
      <li><a href="#" routerLink="/pharmacy-inventory">Inventary</a></li>
      <li><a href="#" routerLink="/pricelist">Pricelist</a></li>
      <li><a href="#" routerLink="/pharmacy-admin-profile">Profile</a></li>
      <button (click)="LogOut()">
                  <li>Logout</li>
      </button>
      </ul>
  </nav>
  </div>
</header>
<div class="main">
    <button mat-raised-button (click)="AddItem()" > Add new item </button>
    <table class="table table-hover">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
        </thead>
        <tbody>
          <tr *ngFor="let i of inventoryItems">
            <td>
              {{i.medicine.name}}
            </td>
            <td>
              {{i.quantity}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
