<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
            <li><a href="" routerLink="#">Patient list</a></li>
            <li><a href="" routerLink="#">Start appointment</a></li>
            <li><a href="" routerLink="#">Work calendar</a></li>
            <li><a href="" routerLink="#">Medicine dispensing</a></li>
            <li><a href="" routerLink="#">Schedule leave</a></li>
            <li><a href="" routerLink="#">Schedule appointment</a></li>
            <li><a href="" routerLink="#">Profile</a></li>
            <li id="log"><a href="">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="sidemenu">
        <a href="" routerLink="#">Lični podaci</a>
          <a href="" routerLink="/pharmacist-password-change">Promena lozinke</a>
          <a href="" routerLink="#">Radni kalendar</a>
    </div>

    <div class="userinfo">
      <form [formGroup]="myForm" >
        <textarea name="password" id="" cols="60" rows="3.5" style="resize: none;" placeholder="New password" formControlName="pass" required></textarea><br>
        <textarea name="passwordAdd" id="" cols="60" rows="3.5" style="resize: none;" placeholder="Confirm password" formControlName="passconf" required></textarea><br>
        <button (click)="EditPassword()">Confirm edit</button>
      </form>
    </div>
</div>