<header>
    <div class="header">
      <button class="logo" (click)="Check(0)">Pharmacy</button>
      <nav>
        <ul>
            <button (click)="Check(1)">Patient list</button>
            <button (click)="Check(2)">Start appointment</button>
            <button (click)="Check(3)">Work calendar</button>
            <button (click)="Check(4)">Medicine dispensing</button>
            <button (click)="Check(5)">Schedule leave</button>
            <button (click)="Check(6)">Schedule appointment</button>
            <button (click)="Check(7)">Profile</button>
            <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="sidemenu">
      <button (click)="Check(8)">Personal data</button>
      <button (click)="Check(9)">Change password</button>
      <button (click)="Check(10)">Work calendar</button>
    </div>

    <div class="userinfo">
      <form [formGroup]="myForm" >
        <mat-label>Please enter new password</mat-label><mat-divider></mat-divider>
        <textarea name="password" id="" cols="60" rows="3.5" style="resize: none;" placeholder="New password" formControlName="pass" required></textarea><br>
        <mat-label>Confirm new password</mat-label><mat-divider></mat-divider>
        <textarea name="passwordAdd" id="" cols="60" rows="3.5" style="resize: none;" placeholder="Confirm password" formControlName="passconf" required></textarea><br>
        <button (click)="EditPassword()">Confirm edit</button>
      </form>
    </div>
</div>