<header>
    <div class="header">
      <a routerLink="/pharmacist" class="logo">Pharmacy</a>
      <nav>
        <ul>
            <li><a href="" routerLink="/pharmacist-patient-search">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="" routerLink="/pharmacist">Schedule leave</a></li>
            <li><a href="" routerLink="/pharmacist">Schedule appointment</a></li>
            <li><a href="" routerLink="/pharmacist-profile">Profile</a></li>
            <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="userinfo">
        <div class="founddiv">
            <table id="myTable">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Uidn</th>
                    <th>Username</th>
                    <th>Exam start time</th>
                    <th>Pharmacy ID</th>
                    <th></th>
                    <th></th>
                </tr>
                <tbody id="tableinfo">
                    <tr *ngFor="let u of appointments">
                        <td>{{u.patient.name}}</td>
                        <td>{{u.patient.surname}}</td>
                        <td>{{u.patient.uidn}}</td>
                        <td>{{u.patient.email}}</td>
                        <td>{{u.pharmacy.id}}</td>
                        <td>{{u.dateRange.startDateTime[0]}}.{{u.dateRange.startDateTime[1]}}.{{u.dateRange.startDateTime[2]}} {{u.dateRange.startDateTime[3]}}:{{u.dateRange.startDateTime[4]}}</td>
                        <td><a href="#" [routerLink]="['/pharmacist-appointment-report',u.id,u.patient.uidn]" >Start appointment</a></td>
                        <td><a href="#" [routerLink]="['/pharmacist-appointments']" (click)="PenalizePatient(u.patient.uidn,u.dateRange)">Penalize </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>