<header>
    <div class="header">
      <a routerLink="/dermatologist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/pharmacist-patient-search">Patient list</a></li>
            <li><a href="" routerLink="/pharmacist-appointments">Start appointment</a></li>
            <li><a href="" routerLink="/pharmacist-work-cal">Work calendar</a></li>
            <li><a href="" routerLink="/medicine-dispensing">Medicine dispensing</a></li>
            <li><a href="">Schedule leave</a></li>
            <li><a href="">Schedule appointment</a></li>
            <li><a href="" routerLink="pharmacist-profile">Profile</a></li>
            <li id="log"><a href="">Log out</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <div class="profilediv">
        <div class="sidemenu">
            <a href="" routerLink="/pharmacist-profile">Lični podaci</a>
            <a href="" routerLink="/pharmacist-password-change">Promena lozinke</a>
            <a href="" routerLink="/pharmacist-work-cal">Radni kalendar</a>
        </div>

        <div class="userinfo">
            <textarea name="username" id="" cols="60" rows="3.5" style="resize: none;" placeholder="Username">{{pharmacist.email}}</textarea><br>
            <textarea name="name" id="" cols="60" rows="3.5" style="resize: none;" placeholder="Name">{{pharmacist.name}}</textarea><br>
            <textarea name="surname" id="" cols="60" rows="3.5" style="resize: none;" placeholder="Surname">{{pharmacist.surname}}</textarea><br>
            <textarea name="pharmID" id="" cols="60" rows="3.5" style="resize: none;" placeholder="Id">{{pharmacist.id}}</textarea><br>
            <button>Confirm edit</button>
            
        </div>
    </div>
  </body>