<header>
    <div class="header">
      <a routerLink="/dermatologist" class="logo">Pharmacy</a>
      <nav>
        <ul>
         <!--<li><a href="#" routerLink="/">Log in</a></li>-->
         <li><a href="" routerLink="/dermatologist-patient-search">Patient list</a></li>
         <li><a href="" routerLink="/dermatologist-appointments">Start appointment</a></li>
         <li><a href="" routerLink="/dermatologist-work-cal">Work calendar</a></li>
         <li><a href="" routerLink="/schedule-leave">Schedule leave</a></li>
         <li><a href="" routerLink="/dermatologist">Schedule appointment</a></li>
         <li><a href="" routerLink="/dermatologist-profile">Profile</a></li>
         <button (click)="LogOut()"><li>Log out</li></button>
        </ul>
      </nav>
    </div>
  </header>
  <div class="profilediv">
    <div class="userinfo">
        <mat-label>List of dermatologists checked patients</mat-label>
        <input style="width: 100%;" id="myInput" type="text" (keyup.enter)="MyFunction()" placeholder="Search patient by name + surname" >
        <!--ovde ide foreach pacijent sa tim id unesenim ispisati ime prezime... umesto zakucanih podataka-->
        <div class="founddiv">
            <table id="myTable">
                <tr>
                    <th><button (click)="sortTable(1)">Name</button></th>
                    <th><button (click)="sortTable(2)">Surname</button></th>
                    <th><button (click)="sortTable(3)">Uidn</button></th>
                    <th><button (click)="sortTable(4)">Username</button></th>
                </tr>
                <tbody id="tableinfo">
                    <tr *ngFor="let u of users">
                        <td>{{u.name}}</td>
                        <td>{{u.surname}}</td>
                        <td>{{u.uidn}}</td>
                        <td>{{u.username}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>